<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>5BA89C50-168C-4D9C-985C-C6266A0EF765</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1EB3B30-EF15-4E1D-8B02-DC3A8839419C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>68375EA6-598A-4920-B44E-4CAE77CAE3B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D5D01C13-E759-4833-BE48-606E98BE65A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7167B721-CAB2-40F7-B874-1808073DA358</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>912369E1-CE2C-492D-924E-F2156CA5BDB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>96B8EF08-36EF-4079-8CDE-697863FAFED6</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FFE5687E-F382-49F7-AD9D-544DD69191F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BE31BA7-E570-48E6-AF9B-1FB805A02979</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9EABDB4C-75FA-448E-B2D5-9511F0A65063</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0BE31BA7-E570-48E6-AF9B-1FB805A02979</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8F6E7EFE-F8CA-43F7-9D8D-08EB3AEF53C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8F6E7EFE-F8CA-43F7-9D8D-08EB3AEF53C7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>903265E8-A1F7-4064-A2D2-899AADB18588</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>060A90D3-5B85-4AE3-B172-18D142B5D226</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>912369E1-CE2C-492D-924E-F2156CA5BDB9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1EB3B30-EF15-4E1D-8B02-DC3A8839419C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1EB3B30-EF15-4E1D-8B02-DC3A8839419C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7167B721-CAB2-40F7-B874-1808073DA358</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D5D01C13-E759-4833-BE48-606E98BE65A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5BA89C50-168C-4D9C-985C-C6266A0EF765</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F3F7A89D-AFE7-480F-9E94-B8E472A4DE96</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Search github repos</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>endpoint</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>912369E1-CE2C-492D-924E-F2156CA5BDB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>FFE5687E-F382-49F7-AD9D-544DD69191F6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading repos</string>
				<key>script</key>
				<string>TOKEN="${token}" ruby ./main.rb api_call "${endpoint}"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Description</string>
				<key>title</key>
				<string>Repo</string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A1EB3B30-EF15-4E1D-8B02-DC3A8839419C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>9EABDB4C-75FA-448E-B2D5-9511F0A65063</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>api</string>
						<key>outputlabel</key>
						<string>api</string>
						<key>uid</key>
						<string>96B8EF08-36EF-4079-8CDE-697863FAFED6</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browser</string>
						<key>outputlabel</key>
						<string>browser</string>
						<key>uid</key>
						<string>0BE31BA7-E570-48E6-AF9B-1FB805A02979</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>pbcopy</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7167B721-CAB2-40F7-B874-1808073DA358</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>8F6E7EFE-F8CA-43F7-9D8D-08EB3AEF53C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>903265E8-A1F7-4064-A2D2-899AADB18588</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>060A90D3-5B85-4AE3-B172-18D142B5D226</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>TOKEN="${token}" ruby ./main.rb refresh</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5BA89C50-168C-4D9C-985C-C6266A0EF765</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gh refresh</string>
				<key>subtext</key>
				<string>Fetch an updated list of repositories from Github</string>
				<key>text</key>
				<string>Refresh repositories</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>68375EA6-598A-4920-B44E-4CAE77CAE3B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>D5D01C13-E759-4833-BE48-606E98BE65A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Fetching repositories from Github</string>
				<key>title</key>
				<string>Refresh</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F3F7A89D-AFE7-480F-9E94-B8E472A4DE96</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>060A90D3-5B85-4AE3-B172-18D142B5D226</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>5BA89C50-168C-4D9C-985C-C6266A0EF765</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>68375EA6-598A-4920-B44E-4CAE77CAE3B9</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>7167B721-CAB2-40F7-B874-1808073DA358</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>195</real>
		</dict>
		<key>8F6E7EFE-F8CA-43F7-9D8D-08EB3AEF53C7</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>903265E8-A1F7-4064-A2D2-899AADB18588</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>912369E1-CE2C-492D-924E-F2156CA5BDB9</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>9EABDB4C-75FA-448E-B2D5-9511F0A65063</key>
		<dict>
			<key>xpos</key>
			<real>585</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>A1EB3B30-EF15-4E1D-8B02-DC3A8839419C</key>
		<dict>
			<key>xpos</key>
			<real>55</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>D5D01C13-E759-4833-BE48-606E98BE65A4</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
		<key>F3F7A89D-AFE7-480F-9E94-B8E472A4DE96</key>
		<dict>
			<key>xpos</key>
			<real>330</real>
			<key>ypos</key>
			<real>580</real>
		</dict>
		<key>FFE5687E-F382-49F7-AD9D-544DD69191F6</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>ghp_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
  token = "ghp_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
  token = "ghp_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa"
ghp_aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>A personal access token with permissions to read repositories.</string>
			<key>label</key>
			<string>Github token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>token</string>
		</dict>
	</array>
	<key>variables</key>
	<dict>
		<key>GITHUB_PERSONAL_TOKEN</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>GITHUB_PERSONAL_TOKEN</string>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
